<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include stylesheet.ejs %>
	<title><%= locals.title%></title>
</head>
<body>
	<h1><%= locals.header %></h1>
	<%- body %>
</body>
</html>